.bg-00001A {
    background-color: #00001A;
}

.bg-FFFDFA{
    background-color: #FFFDFA;
}
.bg-5D5F79{
    background-color: #5D5F79;
}
.bg-F15E50{
    background-color: #F15E50;
}

.h-1px{
    height: 1px;
}

.fw-700{
    font-weight: 700;
}

.fs-15px{
    font-size: 16px;
}

.fs-20px{
    font-size: 20px;
}

.fs-60px{
    font-size: 60px;
}

.fs-74px{
    font-size: 74px;
}

.fs-65px{
    font-size: 65px;
}

.text-5D5F79{
    color: #5D5F79;
}

.text-FFFDFA{
    color: #FFFDFA;
}

.text-E9AB53{
    color: #E9AB53;
}

.line-height-0-9 {
    line-height: 0.9;
}

.letter-spacing-1{
    letter-spacing: 4px;
}