.bg-00001A {
    background-color: #00001A;
}

.bg-FFFDFA{
    background-color: #FFFDFA;
}
.bg-5D5F79{
    background-color: #5D5F79;
}

.h-1px{
    height: 1px;
}

.fs-15px{
    font-size: 15px;
}

.fs-20px{
    font-size: 20px;
}

.fs-40px{
    font-size: 40px;
}
.text-5D5F79{
    color: #5D5F79;
}

.text-FFFDFA{
    color: #FFFDFA;
}

.text-E9AB53{
    color: #E9AB53;
}

